In [1]:
%matplotlib inline
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from scipy import stats
from IPython.display import Image
sns.set()

In [2]:
pip install matplotlib_venn --upgrade --user

Collecting matplotlib_venn
  Downloading matplotlib-venn-0.11.6.tar.gz (29 kB)
Requirement already satisfied: matplotlib in c:\tools\anaconda3\lib\site-packages (from matplotlib_venn) (3.4.3)
Requirement already satisfied: numpy in c:\tools\anaconda3\lib\site-packages (from matplotlib_venn) (1.20.3)
Requirement already satisfied: scipy in c:\tools\anaconda3\lib\site-packages (from matplotlib_venn) (1.7.1)
Requirement already satisfied: cycler>=0.10 in c:\tools\anaconda3\lib\site-packages (from matplotlib->matplotlib_venn) (0.10.0)
Requirement already satisfied: pyparsing>=2.2.1 in c:\tools\anaconda3\lib\site-packages (from matplotlib->matplotlib_venn) (3.0.4)
Requirement already satisfied: pillow>=6.2.0 in c:\tools\anaconda3\lib\site-packages (from matplotlib->matplotlib_venn) (8.4.0)
Requirement already satisfied: kiwisolver>=1.0.1 in c:\tools\anaconda3\lib\site-packages (from matplotlib->matplotlib_venn) (1.3.1)
Requirement already satisfied: python-dateutil>=2.7 in c:\tools\anaconda3\lib\site-packages (from matplotlib->matplotlib_venn) (2.8.2)
Requirement already satisfied: six in c:\tools\anaconda3\lib\site-packages (from cycler>=0.10->matplotlib->matplotlib_venn) (1.16.0)
Building wheels for collected packages: matplotlib-venn
  Building wheel for matplotlib-venn (setup.py): started
  Building wheel for matplotlib-venn (setup.py): finished with status 'done'
  Created wheel for matplotlib-venn: filename=matplotlib_venn-0.11.6-py3-none-any.whl size=32065 sha256=6ac4a27a63851176edba3fe0a0e6c304e034f89e51037f661e0a2cf425874c08
  Stored in directory: c:\users\fassg\appdata\local\pip\cache\wheels\42\1c\65\1a733895cd94885d1a97eee84ec7595ff7fddc277a45bcacf5
Successfully built matplotlib-venn
Installing collected packages: matplotlib-venn
Successfully installed matplotlib-venn-0.11.6
Note: you may need to restart the kernel to use updated packages.

https://www.glerl.noaa.gov/metdata/mil/archive/

In [3]:
pip install pandas --upgrade --user

Requirement already satisfied: pandas in c:\tools\anaconda3\lib\site-packages (1.3.4)
Collecting pandas
  Downloading pandas-1.4.0-cp39-cp39-win_amd64.whl (10.5 MB)
Requirement already satisfied: numpy>=1.18.5 in c:\tools\anaconda3\lib\site-packages (from pandas) (1.20.3)
Requirement already satisfied: python-dateutil>=2.8.1 in c:\tools\anaconda3\lib\site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\tools\anaconda3\lib\site-packages (from pandas) (2021.3)
Requirement already satisfied: six>=1.5 in c:\tools\anaconda3\lib\site-packages (from python-dateutil>=2.8.1->pandas) (1.16.0)
Installing collected packages: pandas
Successfully installed pandas-1.4.0
Note: you may need to restart the kernel to use updated packages.

In [4]:
pip install numexpr --upgrade --user

Requirement already satisfied: numexpr in c:\tools\anaconda3\lib\site-packages (2.7.3)
Collecting numexpr
  Downloading numexpr-2.8.1-cp39-cp39-win_amd64.whl (88 kB)
Requirement already satisfied: packaging in c:\tools\anaconda3\lib\site-packages (from numexpr) (21.0)
Requirement already satisfied: numpy>=1.13.3 in c:\tools\anaconda3\lib\site-packages (from numexpr) (1.20.3)
Requirement already satisfied: pyparsing>=2.0.2 in c:\tools\anaconda3\lib\site-packages (from packaging->numexpr) (3.0.4)
Installing collected packages: numexpr
Successfully installed numexpr-2.8.1
Note: you may need to restart the kernel to use updated packages.

In [5]:
pip install seaborn --upgrade --user

Requirement already satisfied: seaborn in c:\tools\anaconda3\lib\site-packages (0.11.2)
Requirement already satisfied: pandas>=0.23 in c:\users\fassg\appdata\roaming\python\python39\site-packages (from seaborn) (1.4.0)
Requirement already satisfied: scipy>=1.0 in c:\tools\anaconda3\lib\site-packages (from seaborn) (1.7.1)
Requirement already satisfied: numpy>=1.15 in c:\tools\anaconda3\lib\site-packages (from seaborn) (1.20.3)
Requirement already satisfied: matplotlib>=2.2 in c:\tools\anaconda3\lib\site-packages (from seaborn) (3.4.3)
Requirement already satisfied: cycler>=0.10 in c:\tools\anaconda3\lib\site-packages (from matplotlib>=2.2->seaborn) (0.10.0)
Requirement already satisfied: pyparsing>=2.2.1 in c:\tools\anaconda3\lib\site-packages (from matplotlib>=2.2->seaborn) (3.0.4)
Requirement already satisfied: pillow>=6.2.0 in c:\tools\anaconda3\lib\site-packages (from matplotlib>=2.2->seaborn) (8.4.0)
Requirement already satisfied: python-dateutil>=2.7 in c:\tools\anaconda3\lib\site-packages (from matplotlib>=2.2->seaborn) (2.8.2)
Requirement already satisfied: kiwisolver>=1.0.1 in c:\tools\anaconda3\lib\site-packages (from matplotlib>=2.2->seaborn) (1.3.1)
Requirement already satisfied: six in c:\tools\anaconda3\lib\site-packages (from cycler>=0.10->matplotlib>=2.2->seaborn) (1.16.0)
Requirement already satisfied: pytz>=2020.1 in c:\tools\anaconda3\lib\site-packages (from pandas>=0.23->seaborn) (2021.3)
Note: you may need to restart the kernel to use updated packages.

In [6]:
pip install scipy --upgrade --user

Requirement already satisfied: scipy in c:\tools\anaconda3\lib\site-packages (1.7.1)
Collecting scipy
  Downloading scipy-1.7.3-cp39-cp39-win_amd64.whl (34.3 MB)
Requirement already satisfied: numpy<1.23.0,>=1.16.5 in c:\tools\anaconda3\lib\site-packages (from scipy) (1.20.3)
Installing collected packages: scipy
Successfully installed scipy-1.7.3
Note: you may need to restart the kernel to use updated packages.

In [11]:
original_data = pd.read_csv("mkecallswheader.csv")

In [12]:
original_data.head(10)

,id,time,location,district,nature,status,inserted_at,updated_at,point,call_id
0,2093116,2019-05-21 15:19:03,"7420 W GOOD HOPE RD,MKE",4,ACC PI,Service in Progress,2019-05-21 20:51:09,2019-05-21 20:51:09,0101000020E6100000FC7C94111793454061D971683600...,191411633
1,2093127,2019-05-21 15:24:30,"1421 N 27TH ST,MKE",3,TRAFFIC STOP,City Citation(s) Issued,2019-05-21 20:57:11,2019-05-21 20:57:11,0101000020E6100000D2AB014A4386454067C416CCA9FC...,191411672
2,2093141,2019-05-21 15:25:46,"4054 N 71ST ST,MKE",7,SUBJ WANTED,Assignment Completed,2019-05-21 21:00:12,2019-05-21 21:00:12,0101000020E610000053FFC5D8AE8B45402CAE3B270700...,191411674
3,2093805,2019-05-21 20:46:28,"245 W LINCOLN AV,MKE",2,SPECIAL ASSIGN,Service in Progress,2019-05-22 02:22:32,2019-05-22 02:22:32,0101000020E610000078ABF8D04F804540633ABE0779FA...,191412545
4,2093816,2019-05-21 20:50:03,"1721 W CANAL ST,MKE",3,TRBL W/SUBJ,Unable to Locate Complainant,2019-05-22 02:25:33,2019-05-22 02:25:33,0101000020E6100000E8323509DE834540C3D7D7BAD4FB...,191412465
5,2093829,2019-05-21 21:02:37,"E WRIGHT ST / N WEIL ST,MKE",5,PARK AND WALK,Service in Progress,2019-05-22 02:37:36,2019-05-22 02:37:36,0101000020E6100000DEF1DC312B88454059D878558CF9...,191412584
6,2093872,2019-05-21 20:50:47,"9010 N 95TH ST,MKE",4,WELFARE CITIZEN,Advised,2019-05-22 02:52:43,2019-05-22 02:52:43,0101000020E6100000357D76C07597454080B4FF01D601...,191412544
7,2093887,2019-05-21 21:25:33,"983 W ARTHUR AV,MKE",2,BATTERY DV,Service in Progress,2019-05-22 03:01:48,2019-05-22 03:01:48,0101000020E6100000BC033C69E17F454041ABDDC02EFB...,191412632
8,2093918,2019-05-21 21:36:05,"4115 N 56TH ST,MKE",7,RETURN STATION,Assignment Completed,2019-05-22 03:16:51,2019-05-22 03:16:51,0101000020E610000014483FD0C08B45404EB747CAF1FE...,191412656
9,2093929,2019-05-21 21:45:53,"7806 W HAMPTON AV,MKE",7,TRAFFIC STOP,Advised,2019-05-22 03:22:52,2019-05-22 03:22:52,0101000020E6100000F6F0C05B7B8D45404F34B4A69E00...,191412676

In [13]:
original_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4027695 entries, 0 to 4027694
Data columns (total 10 columns):
 #   Column       Dtype
---  ------       -----
 0   id           int64
 1   time         object
 2   location     object
 3   district     object
 4   nature       object
 5   status       object
 6   inserted_at  object
 7   updated_at   object
 8   point        object
 9   call_id      int64
dtypes: int64(2), object(8)
memory usage: 307.3+ MB

In [14]:
original_data.describe()

                 id       call_id
count  4.027695e+06  4.027695e+06
mean   5.589211e+06  1.891808e+08
std    2.392488e+07  1.459309e+07
min    1.000000e+00  1.630815e+08
25%    1.006924e+06  1.732129e+08
50%    2.013848e+06  1.906707e+08
75%    3.020772e+06  2.016115e+08
max    1.635417e+08  2.201010e+08

From the above calls to the [`.head()`](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.head.html), [`.info()`](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.info.html), and [`.describe()`](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.describe.html) methods it is possible to see that there are $10$ total features. Of these features there are two features that are formatted as integers and eight features formatted as the default object that pandas imports non-numerical features as. From the object classified features there are a few that can be converted to new types. The time, inserted_at, and updated_at column should be formatted as a date time object. District should be converted to a numerical categorical value. Nature and status should be converted to categorical features. Location should be kept as an object feature. More features should be extracted from the location in order to draw further observations. Both street name and street suffix would be good features to extract. The ID and point features are artifacts of the database the police dataset came from and as such will be dropped.

The first step is to copy the data into a new dataframe so that the original data can be preserved

In [17]:
df = original_data.copy(deep=True)

Now convert the time, inserted_at, and updated_at features into date time objects.

In [18]:
df['time'] = pd.to_datetime(df['time'], infer_datetime_format=True)  
df['inserted_at'] = pd.to_datetime(df['inserted_at'], infer_datetime_format=True)  
df['updated_at'] = pd.to_datetime(df['updated_at'], infer_datetime_format=True)

In [19]:
df.head()

,id,time,location,district,nature,status,inserted_at,updated_at,point,call_id
0,2093116,2019-05-21 15:19:03,"7420 W GOOD HOPE RD,MKE",4,ACC PI,Service in Progress,2019-05-21 20:51:09,2019-05-21 20:51:09,0101000020E6100000FC7C94111793454061D971683600...,191411633
1,2093127,2019-05-21 15:24:30,"1421 N 27TH ST,MKE",3,TRAFFIC STOP,City Citation(s) Issued,2019-05-21 20:57:11,2019-05-21 20:57:11,0101000020E6100000D2AB014A4386454067C416CCA9FC...,191411672
2,2093141,2019-05-21 15:25:46,"4054 N 71ST ST,MKE",7,SUBJ WANTED,Assignment Completed,2019-05-21 21:00:12,2019-05-21 21:00:12,0101000020E610000053FFC5D8AE8B45402CAE3B270700...,191411674
3,2093805,2019-05-21 20:46:28,"245 W LINCOLN AV,MKE",2,SPECIAL ASSIGN,Service in Progress,2019-05-22 02:22:32,2019-05-22 02:22:32,0101000020E610000078ABF8D04F804540633ABE0779FA...,191412545
4,2093816,2019-05-21 20:50:03,"1721 W CANAL ST,MKE",3,TRBL W/SUBJ,Unable to Locate Complainant,2019-05-22 02:25:33,2019-05-22 02:25:33,0101000020E6100000E8323509DE834540C3D7D7BAD4FB...,191412465

In [21]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4027695 entries, 0 to 4027694
Data columns (total 10 columns):
 #   Column       Dtype
---  ------       -----
 0   id           int64
 1   time         datetime64[ns]
 2   location     object
 3   district     object
 4   nature       object
 5   status       object
 6   inserted_at  datetime64[ns]
 7   updated_at   datetime64[ns]
 8   point        object
 9   call_id      int64
dtypes: datetime64[ns](3), int64(2), object(5)
memory usage: 307.3+ MB

In [20]:
df.describe()

                 id       call_id
count  4.027695e+06  4.027695e+06
mean   5.589211e+06  1.891808e+08
std    2.392488e+07  1.459309e+07
min    1.000000e+00  1.630815e+08
25%    1.006924e+06  1.732129e+08
50%    2.013848e+06  1.906707e+08
75%    3.020772e+06  2.016115e+08
max    1.635417e+08  2.201010e+08

From the above calls to the [`.head()`](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.head.html), [`.info()`](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.info.html), and [`.describe()`](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.describe.html) methods it is possible to see that the time base features are now properly formatted. The next step is to bin the features by hour. This will be done in order to reduce the granularity of the data as well as matching up this dataset with hourly weather data.

In [ ]:
# TODO

Next the id and point columns will be dropped since they are artifacts of the database the data was stored in.

In [28]:
df = df.drop('id', axis=1)
# df = df.drop('point', axis=1) ### do not want to drop this as its a postgres geospatial for approx lat long.
df.head()

,time,location,district,nature,status,inserted_at,updated_at,call_id
0,2019-05-21 15:19:03,"7420 W GOOD HOPE RD,MKE",4,ACC PI,Service in Progress,2019-05-21 20:51:09,2019-05-21 20:51:09,191411633
1,2019-05-21 15:24:30,"1421 N 27TH ST,MKE",3,TRAFFIC STOP,City Citation(s) Issued,2019-05-21 20:57:11,2019-05-21 20:57:11,191411672
2,2019-05-21 15:25:46,"4054 N 71ST ST,MKE",7,SUBJ WANTED,Assignment Completed,2019-05-21 21:00:12,2019-05-21 21:00:12,191411674
3,2019-05-21 20:46:28,"245 W LINCOLN AV,MKE",2,SPECIAL ASSIGN,Service in Progress,2019-05-22 02:22:32,2019-05-22 02:22:32,191412545
4,2019-05-21 20:50:03,"1721 W CANAL ST,MKE",3,TRBL W/SUBJ,Unable to Locate Complainant,2019-05-22 02:25:33,2019-05-22 02:25:33,191412465

The nature, status, and district features will now be converted into categorical features

In [30]:
df['district'].unique()

array(['4', '3', '7', '2', '5', '6', '1', nan, 'OCOE', 'OUT', 'NTF',
       'SPD', 'CITY', 'ICS3', 'CIB', 'DPR', 'TRU', 'SCD', 'ICS', 'SF',
       'NLA', 'ICS1', 'IFC', 'FI', 'SID', 'D0', 'ICS7', 'ICS5', 'JUNE',
       'DDAC', 'MIRT', 'ICS6', 'ID', 'ADMN', 'TEU', 'MID', 'NID'],
      dtype=object)

In [34]:
df['district'].value_counts()

3       673002
7       650109
5       567958
4       552701
2       545253
6       473525
1       448786
CITY      7080
NTF       6274
SPD       5477
OCOE      3316
OUT       2249
DDAC       399
SCD        300
DPR        277
ICS1       229
CIB        218
FI          83
SF          55
NLA         34
ICS3        32
SID         31
ICS         23
TEU         16
ICS5         9
JUNE         5
ICS6         4
IFC          4
TRU          3
D0           2
MIRT         2
ADMN         2
NID          2
ICS7         1
ID           1
MID          1
Name: district, dtype: int64

In [31]:
df['nature'].unique()

array(['ACC PI', 'TRAFFIC STOP', 'SUBJ WANTED', 'SPECIAL ASSIGN',
       'TRBL W/SUBJ', 'PARK AND WALK', 'WELFARE CITIZEN', 'BATTERY DV',
       'RETURN STATION', 'BUSINESS CHECK', 'SUSPICIOUS-OTH', 'REPORTS',
       'THEFT', 'VIOL REST ORDER', 'SUBJ WITH GUN', 'TAVERN CHECK',
       'PATROL', 'FOLLOW UP', 'ACC PDO', 'TRAFFIC HAZARD',
       'FAMILY TROUBLE', 'NON PURSUIT', 'BATTERY', 'INVESTIGATION',
       'PRISONER TRANS', 'BUS INV', 'CALL FOR POLICE', 'THEFT VEHICLE',
       'SUSP PERS/AUTO', 'ENTRY TO AUTO', 'ASSIGNMENT', 'PROPERTY DAMAGE',
       'IND EXPOSURE', 'NOISE NUISANCE', 'PROPERTY PICKUP', 'SOLICITING',
       'STOLEN VEHICLE', 'OUT OF SERVICE', 'COURT DUTY', 'ENTRY',
       'PARKING TROUBLE', 'GRAFFITI', 'TRBL W/JUV', 'SHOTS FIRED',
       'SHOTSPOTTER', 'BUS INVESTIGATIO', 'THREAT', 'SUBJ WITH WEAPON',
       'TRAFFIC LASER', 'HOME VISIT DV', 'COMMUNITY MTNG',
       'CITIZEN CONTACT', 'RECK USE OF WEAP', 'ABAND/STOLEN PRO',
       'ASSIGN-ADMN MPD', 'CONVEY PROPERTY', 'NETWORK CRIMINAL',
       'THEFT FROM PERSN', 'SUBJ STOP', 'INJ PERSON/SICK', 'ACC UNKN INJ',
       'TRUANT', 'INJ/SICK PERS', 'THREAT SCHOOL', 'OVERDOSE',
       'HOLDUP ALARM', 'ESCORT', 'BURG/AUD BUSINES', 'SUBJ W/GUN',
       'ALTERED CURRENCY', 'DEAD ON ENTRY', 'FIRE', 'CITIZEN CONVEY',
       'LOOSE ANIMAL', 'ROBBERY', 'VACANT HOUSE CHK', 'PROBATION/PAROLE',
       'CRUELTY ANIMAL', 'ROBBERY ARMED', 'ADDL INFO', 'SCHL MONITORING',
       'DRUG DEALING', 'BATTERY CUTTING', 'FIGHT', 'SHOPLIFTER',
       'CHILD CUSTODY', 'NOTIFICATION', 'PROB_PAROL_CK_RQ', 'DUI',
       'FOOT PURSUIT', 'VEHICLE PURSUIT', 'SHOOTING', 'MEET GOVT AGENCY',
       'ABDUCTION', 'ACC UNK INJ', 'ABAND/PROP WEAPO', 'RECKLESS VEHICLE',
       'LANDLORD/TEN TRB', 'HOSTAGE SIT', 'WELFARE CHK', 'ABAND PROPERTY',
       'MFD OTHER', 'GPS MONITORING', 'WIRES DOWN', 'CHILD ENTICEMENT',
       'TS TARGETED', 'NON PURSUIT NO P', 'ROBBERY ST ARM', 'MED RUN',
       'HOSPITAL GUARD', 'REPORTS STATION', 'HOSPITAL TO MCMH',
       'GAMBLING', 'PARKING TRBL', 'SUBJ W/WEAP', 'JUV CONVEY',
       'OAI/INTOX DRIVER', 'ANIMAL BITE', 'FRAUD', 'LOST CHILD',
       'ENTRY TO AUTOS', 'TRAFFIC CONTROL', 'VEHICLE MAINT',
       'SEARCH WARRANT', 'LOCKOUT', 'BOAT STOP', 'PD/OTHER IN MKE',
       'MFD SECURITY', 'RECOVERED VEH', 'SUSP PKG/DEVICE', 'FIREWORKS',
       'GAS LEAK', 'PLANT CAR', 'ASSIST FIRE/AMB', 'BURG/AUD RESI',
       'DEMONSTRATION', '911 ABUSE', 'PHOTO ASSIGN', 'SEARCH RESCUE/RE',
       'BURGLAR ALARM', 'MARINE VIOL', 'BATTERY CUT-DV', 'EXPLOSION',
       'DOCUMENTED CALL', 'BURG/AUD GOVT', 'ASSIST OFFICER', 'SCHOOL',
       'SEND BACKUP', 'MEET PD/OTHER', 'METH LAB', 'MPD MON ALARM',
       'INTERNET CRIMES', 'BB GUN COMPLNT', 'LOUD MUSIC - VEH',
       'ADD INFO', 'FORGERY', '911 ABUSE CONFIR', 'PHONE CALL COMPL',
       'CONT DEL MINOR', 'STRND/DIS VESSEL', 'THREAT OFFICER',
       'TAVERN VIOL', 'BOMB THREAT', 'SEND SQUAD/MEET',
       'TAVERN VIOLATION', 'WATER MAIN BREAK', 'WATER MAIN BRK',
       'POLICE ACADEMY', 'SUBJ IN WATER', 'SUSPICIOUS/OTH', 'UNDEFINED',
       'TRESPASSER', 'HAZ WASTE MAT', 'BOAT_STOP', 'QQ', 'LOITERING',
       'LOCK OUT', 'EXPLOSIVES', 'PROWLERS', 'PRISONER BOOKING',
       'ESP TARGET ESCOR', 'ASSIST', '.', 'PAB', 'RECOVERED PROP',
       'OPEN HYDRANT', 'LOUD MUSIC - RES', 'ID QUESTION', '1603',
       'LOST PROPERTY', 'ACC PI HWY', 'SCHL EXTRA EVENT', 'HOSP GUARD',
       'MFD REFERRED OTH', 'REPORT TO 10-22', 'RECVRD VEHICLE',
       'CAR CHANGE', 'ALARM ON BUS', 'SCHL PERIMETER', 'LOUD MUSIC - BUS',
       'ACTIVE SHOOTER', 'SCHL WEAPON SCAN', 'PICKUP PARTNER',
       'OVERTURNED BOAT', 'ACC UNK INJ HWY', 'LOST/STOLEN PRO',
       'SUBJ DOWN', 'PANIC ALARM', 'RECVRD PROPERTY', 'POLICE ADMIN',
       'ENTRY AUTOS', 'SCHL PRESENTATIO', 'MAIL RUN', 'FLEEING',
       'MEET MFD', 'CRIMINIAL INFO', 'ILLEGAL DUMPING', 'CST ASSIGNMENT',
       'GAME PLAN', 'STREET CAR INV', 'LOUD MUSIC - OTH', 'OFFICER SHOT',
       'FRAUD CRED CARD', 'BUSINESS CHECK-C', 'NTF IN AREA',
       '1 BLOCK NORTH OF', 'VARDA BURGLAR', 'SRCH WRRNT - RES',
       'FLOODING', 'LOST PROP', 'LOST/STOL', 'CAR CHECK', '911 TEST CALL',
       'STOLEN VEH', '1733', 'E', 'STARCHASE', 'THREATS', 'ENTRY-DV',
       'SUBJ W/WEAPON-DV', 'TRBL W/SUBJ-DV', 'SUBJ WITH GUN-DV',
       'FAMILY TROUBL-DV', 'PROPERTY DAM-DV', 'VIOL REST ORD-DV',
       'RECK USE OF W-DV', 'ROBBERY ARMED-DV', '3410', 'ROBBERY STARM-DV',
       'UNATTEND PACKAGE', 'SEX ASSAULT-DV', 'ACC PDO HWY',
       'ABDUCTION-DV', 'CALL BY PHONE', 'F', 'TICKET QUESTION',
       'ENTRY AUTOS-DV', 'SUBJ W/WEAPON', 'AIRCRAFT DOWN', '0',
       'SCHL MEDIATION', 'SHOTS FIRED-DV', 'OOU', 'STREET CAR CHECK',
       'SCHL SAFETY MTG', 'PARENT QUESTION', 'LICENSE QUESTION',
       'RECKLESS VEH-DV', 'FALSE FIRE ALARM', 'ASSIGN ADMN MPD',
       'LIIEGAL DUMPING', 'REPORT TO 10-2', 'POSSIBLE KIDNAPP',
       'HOSTAGE SIT-DV', 'MOST WANTED', 'STOLEN PROP', 'VIOL REST ORD',
       'BATTERY/DV', 'LOST /STOLEN PRO', 'CIT COMPLAINT',
       'STOLEN PROPERTY', 'SCHOOL CROSSING', 'VEHICLE ALARM', '1359',
       '1301', 'ACC PD1', 'ABAND/LOST', '2831 N 21ST', 'THREAT TO SCHOOL',
       'ELDER ABUSE', 'TORNADO TOUCHDWN', 'SEND SQUAD MEET',
       'AFTER HOURS CK', 'LOST  PROPERTY', 'INFO', 'PER MFD REQ SQDF',
       'CURFEW', 'ACC', 'SRCH WRRNT - OTH', 'STOL. PROP', '`', '2532',
       'GANG', 'TRBL W/SUB', 'JUV', 'CHECK', 'BOAT CHECK', 'ENTRY AUTO',
       '230 N 37TH ST', 'ABAND/LOST PROP', '3', 'LOST PASSPORT',
       'DISABLED BOAT', 'WEAPON', 'CALL FOR POL-DV', 'FIGHT-DV',
       'FAMILY TROUBLEDV'], dtype=object)

In [32]:
df['status'].unique()

array(['Service in Progress', 'City Citation(s) Issued',
       'Assignment Completed', 'Unable to Locate Complainant', 'Advised',
       'To be Filed', 'Advised/Referral', 'No Prosecution',
       'Open Investigation', 'Cleared by Arrest', 'False Alarm',
       'Filed Driver Exchange Report', 'Patrol Request', 'Referral',
       'Ordered to Appear', 'State Citation(s) Issued',
       'False Alarm (Weather Related)'], dtype=object)

https://mpd.digitalpublicworks.com/?start=2019-01-05T00:00:00-06:00&end=2019-01-05T23:59:59.999999-06:00