# Introduction
This notebook is used to combine the cleaned versions of all datasets used in this project into one joined dataframe. This data will then be exported as a csv to be used in the main project.

# Datasets
The following datasets will be merged
- Weather Dataset
- MPD (Milwaukee Police Department) Dataset

# Imports
These are the libraries that will be relvant for cleaning this dataset.

In [1]:
import pandas as pd
import numpy as np

# Cleaning the Dataset
The following sections walk through the steps used to combine the weather dataset into the MPD dataset.

## Load the Raw Data
This section loads the raw data and examines how it is originally formatted.

### Load the MPD Data

In [2]:
mpd_data = pd.read_csv("mpd_data_cleaned.csv")

In [3]:
mpd_data.head()

,district,nature,status,call_id,datetime,isCorner,houseNumber,primaryStreetName,primaryStreetSuffix,secondaryStreetName,secondaryStreetSuffix,shots_nature,top_natures,top_districts
0,4,ACC PI,Service in Progress,191411633,2019-05-21 15:19:03,False,7420.0,W GOOD HOPE,RD,None,None,OTHER,OTHER,4
1,3,TRAFFIC STOP,City Citation(s) Issued,191411672,2019-05-21 15:24:30,False,1421.0,N 27TH,ST,None,None,OTHER,TRAFFIC STOP,3
2,7,SUBJ WANTED,Assignment Completed,191411674,2019-05-21 15:25:46,False,4054.0,N 71ST,ST,None,None,OTHER,OTHER,7
3,2,SPECIAL ASSIGN,Service in Progress,191412545,2019-05-21 20:46:28,False,245.0,W LINCOLN,AV,None,None,OTHER,SPECIAL ASSIGN,2
4,3,TRBL W/SUBJ,Unable to Locate Complainant,191412465,2019-05-21 20:50:03,False,1721.0,W CANAL,ST,None,None,OTHER,TRBL W/SUBJ,3

### Load the Weather Data

In [4]:
weather_data = pd.read_csv("weather_data_cleaned.csv")

In [5]:
weather_data.head()

,isdaytime,tempC,windspeedKmph,winddirdegree,weatherDesc,precipMM,humidity,visibilityKm,pressureMB,cloudcover,HeatIndexC,DewPointC,WindChillC,WindGustKmph,FeelsLikeC,uvIndex,datetime
0,False,14,11,241,Clear,0.0,77,10,1016,3,14,11,14,23,14,1,2008-07-01 00:00:00
1,False,14,12,246,Clear,0.0,77,10,1016,10,14,10,14,25,14,1,2008-07-01 01:00:00
2,False,14,12,251,Clear,0.0,76,10,1015,17,14,10,14,26,14,1,2008-07-01 02:00:00
3,False,15,13,256,Clear,0.0,76,10,1015,24,15,10,14,27,14,1,2008-07-01 03:00:00
4,False,15,12,255,Clear,0.0,74,10,1016,22,15,10,14,26,14,1,2008-07-01 04:00:00

## Fix Feature Formats
The features are likely in the wrong formats based on what they have just been loaded as. They must be changed to their correct types in order for the merge to work.

### Fixing Feature Formats in the MPD Dataset

In [6]:
mpd_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4027695 entries, 0 to 4027694
Data columns (total 14 columns):
 #   Column                 Dtype
---  ------                 -----
 0   district               object
 1   nature                 object
 2   status                 object
 3   call_id                int64
 4   datetime               object
 5   isCorner               bool
 6   houseNumber            float64
 7   primaryStreetName      object
 8   primaryStreetSuffix    object
 9   secondaryStreetName    object
 10  secondaryStreetSuffix  object
 11  shots_nature           object
 12  top_natures            object
 13  top_districts          object
dtypes: bool(1), float64(1), int64(1), object(11)
memory usage: 403.3+ MB

Many of the features in the MPD dataset are improperly formatted. The district, nature, status, primaryStreetName, primaryStreetSuffix, secondaryStreetName, and secondaryStreetSuffix all need to become categorical features. The datetime feature needs to be changed to datetime.

In [7]:
mpd_data['district'] = mpd_data['district'].astype('category')
mpd_data['nature'] = mpd_data['nature'].astype('category')
mpd_data['status'] = mpd_data['status'].astype('category')
mpd_data['primaryStreetName'] = mpd_data['primaryStreetName'].astype('category')
mpd_data['primaryStreetSuffix'] = mpd_data['primaryStreetSuffix'].astype('category')
mpd_data['secondaryStreetName'] = mpd_data['secondaryStreetName'].astype('category')
mpd_data['secondaryStreetSuffix'] = mpd_data['secondaryStreetSuffix'].astype('category')
mpd_data['datetime'] = pd.to_datetime(mpd_data['datetime'], infer_datetime_format=True)
mpd_data['shots_nature'] = mpd_data['shots_nature'].astype('category')
mpd_data['top_natures'] = mpd_data['top_natures'].astype('category')
mpd_data['top_districts'] = mpd_data['top_districts'].astype('category')

### Fixing Feature Formats in the MPD Dataset

In [8]:
weather_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 119112 entries, 0 to 119111
Data columns (total 17 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   isdaytime      119112 non-null  bool
 1   tempC          119112 non-null  int64
 2   windspeedKmph  119112 non-null  int64
 3   winddirdegree  119112 non-null  int64
 4   weatherDesc    119112 non-null  object
 5   precipMM       119112 non-null  float64
 6   humidity       119112 non-null  int64
 7   visibilityKm   119112 non-null  int64
 8   pressureMB     119112 non-null  int64
 9   cloudcover     119112 non-null  int64
 10  HeatIndexC     119112 non-null  int64
 11  DewPointC      119112 non-null  int64
 12  WindChillC     119112 non-null  int64
 13  WindGustKmph   119112 non-null  int64
 14  FeelsLikeC     119112 non-null  int64
 15  uvIndex        119112 non-null  int64
 16  datetime       119112 non-null  object
dtypes: bool(1), float64(1), int64(13), object(2)
memory usage: 14.7+ MB

Everything looks good with the weather data except for datetime and weatherDesc. WeatherDesc needs to become a categorical feature and datetime needs to become a datetime feature.

In [9]:
weather_data['weatherDesc'] = weather_data['weatherDesc'].astype('category')
weather_data['datetime'] = pd.to_datetime(weather_data['datetime'], infer_datetime_format=True)

## Sort the Datasets by Time
The datasets must be [sorted](https://www.geeksforgeeks.org/how-to-sort-a-pandas-dataframe-by-date/) in an increasing manner based on the target feature that is used to join the two datasets. The datetime feature will be used to sort because the goal is to include the weather at the time a crime occured.

### Sort the MPD Data

In [10]:
mpd_data = mpd_data.sort_values(by='datetime')

### Sort the Weather Data

In [11]:
weather_data = weather_data.sort_values(by='datetime')

## Join the Dataframes
The pandas [merge_asof](https://pandas.pydata.org/docs/dev/reference/api/pandas.merge_asof.html) method can be used to quickly [merge the two sorted datasets](https://www.geeksforgeeks.org/merge-two-pandas-dataframes-based-on-closest-datetime/) into one on the closest time. The merge will be conducted so that the nearest hour that matches between the two datasets will be used. This should lead to df maintaining the same number of rows but adding on the number of columns in weather_data.

In [12]:
print("MPD Data Shape Before: %s" % ((mpd_data.shape), ))
print("Weather Data Shape Before: %s" % ((weather_data.shape), ))
merged_data = pd.merge_asof(mpd_data, weather_data, on='datetime', direction='nearest')  
print("Merged Data Shape After: %s" % ((merged_data.shape), ))

MPD Data Shape Before: (4027695, 14)
Weather Data Shape Before: (119112, 17)
Merged Data Shape After: (4027695, 30)

## Remap and Expand Time
The time feature can be expanded into its components. This is done to assist with observations.

In [13]:
merged_data['date'] = merged_data['datetime'].map(lambda t: t.date()) # Represents only the date with no time of day attached.
merged_data['date'] = pd.to_datetime(merged_data['date'], infer_datetime_format=True) # Change the type to a datetime (all the time values will be 0) this is so it can be graphed easier
merged_data['year'] = merged_data['datetime'].map(lambda t: t.year) # Represents year
merged_data['month'] = merged_data['datetime'].map(lambda t: t.month) # Represents month of the year
merged_data['week'] = merged_data['datetime'].map(lambda t: t.week) # Represents week of the year
merged_data['day'] = merged_data['datetime'].map(lambda t: t.day) # Represents day of the month
merged_data['hour'] = merged_data['datetime'].map(lambda t: t.hour) # Represents hour of the day
merged_data['weekday'] = merged_data['datetime'].map(lambda t: t.weekday()) # Monday is 0 and Sunday is 6

### Remove the Un-needed Features
Remove the district, nature, and houseNumber features. The district and nature features are both represented in top_districts and top_natures respectively. The houseNumber feature has too many null values and likely provides too much information.

In [14]:
merged_data = merged_data.drop(columns=['district', 'nature', 'houseNumber'], axis=1)

# Conclusion
At this point the datasets are done being merged. The last steps are to show the final outputs of the [`.head()`](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.head.html), [`.info()`](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.info.html), and [`.describe()`](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.describe.html) methods and output the merged data to a new csv file.

In [15]:
merged_data.head()

,status,call_id,datetime,isCorner,primaryStreetName,primaryStreetSuffix,secondaryStreetName,secondaryStreetSuffix,shots_nature,top_natures,...,WindGustKmph,FeelsLikeC,uvIndex,date,year,month,week,day,hour,weekday
0,Assignment Completed,163120850,2016-11-07 09:33:52,False,N 4TH,ST,None,None,OTHER,FOLLOW UP,...,18,14,4,2016-11-07,2016,11,45,7,9,0
1,Advised/Referral,163120774,2016-11-07 09:33:55,False,W BLUE MOUND,RD,None,None,OTHER,PROPERTY DAMAGE,...,18,14,4,2016-11-07,2016,11,45,7,9,0
2,Assignment Completed,163120851,2016-11-07 09:34:58,False,N 93RD,ST,None,None,OTHER,OTHER,...,18,14,4,2016-11-07,2016,11,45,7,9,0
3,Assignment Completed,163120853,2016-11-07 09:36:20,False,W LINCOLN,AV,None,None,OTHER,FOLLOW UP,...,18,14,4,2016-11-07,2016,11,45,7,9,0
4,Advised,163120857,2016-11-07 09:38:10,False,N 25TH,ST,None,None,OTHER,TRAFFIC STOP,...,18,14,4,2016-11-07,2016,11,45,7,9,0

In [16]:
merged_data.info(verbose=True, show_counts=True)

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4027695 entries, 0 to 4027694
Data columns (total 34 columns):
 #   Column                 Non-Null Count    Dtype
---  ------                 --------------    -----
 0   status                 4027695 non-null  category
 1   call_id                4027695 non-null  int64
 2   datetime               4027695 non-null  datetime64[ns]
 3   isCorner               4027695 non-null  bool
 4   primaryStreetName      4016778 non-null  category
 5   primaryStreetSuffix    4027695 non-null  category
 6   secondaryStreetName    4027391 non-null  category
 7   secondaryStreetSuffix  4027695 non-null  category
 8   shots_nature           4027695 non-null  category
 9   top_natures            4027695 non-null  category
 10  top_districts          4027695 non-null  category
 11  isdaytime              4027695 non-null  bool
 12  tempC                  4027695 non-null  int64
 13  windspeedKmph          4027695 non-null  int64
 14  winddirdegree          4027695 non-null  int64
 15  weatherDesc            4027695 non-null  category
 16  precipMM               4027695 non-null  float64
 17  humidity               4027695 non-null  int64
 18  visibilityKm           4027695 non-null  int64
 19  pressureMB             4027695 non-null  int64
 20  cloudcover             4027695 non-null  int64
 21  HeatIndexC             4027695 non-null  int64
 22  DewPointC              4027695 non-null  int64
 23  WindChillC             4027695 non-null  int64
 24  WindGustKmph           4027695 non-null  int64
 25  FeelsLikeC             4027695 non-null  int64
 26  uvIndex                4027695 non-null  int64
 27  date                   4027695 non-null  datetime64[ns]
 28  year                   4027695 non-null  int64
 29  month                  4027695 non-null  int64
 30  week                   4027695 non-null  int64
 31  day                    4027695 non-null  int64
 32  hour                   4027695 non-null  int64
 33  weekday                4027695 non-null  int64
dtypes: bool(2), category(9), datetime64[ns](2), float64(1), int64(20)
memory usage: 788.2 MB

In [17]:
merged_data.describe()

,call_id,tempC,windspeedKmph,winddirdegree,precipMM,humidity,visibilityKm,pressureMB,cloudcover,HeatIndexC,...,WindChillC,WindGustKmph,FeelsLikeC,uvIndex,year,month,week,day,hour,weekday
count,4.027695e+06,4.027695e+06,4.027695e+06,4.027695e+06,4.027695e+06,4.027695e+06,4.027695e+06,4.027695e+06,4.027695e+06,4.027695e+06,...,4.027695e+06,4.027695e+06,4.027695e+06,4.027695e+06,4.027695e+06,4.027695e+06,4.027695e+06,4.027695e+06,4.027695e+06,4.027695e+06
mean,1.891808e+08,9.332960e+00,1.396831e+01,1.978097e+02,8.068526e-02,7.252384e+01,9.280653e+00,1.016711e+03,4.627480e+01,9.741805e+00,...,7.040703e+00,2.030895e+01,7.329460e+00,2.161411e+00,2.018734e+03,6.556297e+00,2.678238e+01,1.570493e+01,1.276070e+01,2.910867e+00
std,1.459309e+07,1.099667e+01,6.506821e+00,9.301290e+01,3.459743e-01,1.560838e+01,1.861185e+00,7.728984e+00,3.620323e+01,1.150243e+01,...,1.314242e+01,9.506874e+00,1.356433e+01,1.869588e+00,1.467857e+00,3.476425e+00,1.518563e+01,8.888607e+00,6.723860e+00,1.971860e+00
min,1.630815e+08,-3.100000e+01,0.000000e+00,0.000000e+00,0.000000e+00,1.600000e+01,0.000000e+00,9.860000e+02,0.000000e+00,-3.000000e+01,...,-4.400000e+01,0.000000e+00,-4.400000e+01,1.000000e+00,2.016000e+03,1.000000e+00,1.000000e+00,1.000000e+00,0.000000e+00,0.000000e+00
25%,1.732129e+08,1.000000e+00,9.000000e+00,1.260000e+02,0.000000e+00,6.100000e+01,1.000000e+01,1.012000e+03,1.100000e+01,1.000000e+00,...,-3.000000e+00,1.300000e+01,-3.000000e+00,1.000000e+00,2.017000e+03,4.000000e+00,1.400000e+01,8.000000e+00,8.000000e+00,1.000000e+00
50%,1.906707e+08,9.000000e+00,1.300000e+01,2.140000e+02,0.000000e+00,7.400000e+01,1.000000e+01,1.016000e+03,3.900000e+01,9.000000e+00,...,6.000000e+00,1.900000e+01,6.000000e+00,1.000000e+00,2.019000e+03,6.000000e+00,2.600000e+01,1.600000e+01,1.400000e+01,3.000000e+00
75%,2.016115e+08,1.900000e+01,1.800000e+01,2.760000e+02,0.000000e+00,8.500000e+01,1.000000e+01,1.021000e+03,8.300000e+01,1.900000e+01,...,1.900000e+01,2.600000e+01,1.900000e+01,3.000000e+00,2.020000e+03,1.000000e+01,4.000000e+01,2.300000e+01,1.800000e+01,5.000000e+00
max,2.201010e+08,3.500000e+01,4.700000e+01,3.600000e+02,1.630000e+01,1.000000e+02,1.000000e+01,1.048000e+03,1.000000e+02,4.100000e+01,...,3.500000e+01,7.100000e+01,4.100000e+01,9.000000e+00,2.022000e+03,1.200000e+01,5.300000e+01,3.100000e+01,2.300000e+01,6.000000e+00

In [18]:
merged_data.to_csv("merged_data.csv", index=False)